<div class="auth-container">
  <div class="auth-card">
    <form [formGroup]="regForm" (ngSubmit)="onSubmit()" class="auth-form">
      <h2 class="auth-title">Create Your Fairshare account</h2>
      <div class="form-group-wrapper">
        <div class="form-group">
          <label for="name">First Name</label>
          <input
            type="text"
            id="firstName"
            formControlName="firstName"
            class="form-control"
            placeholder="Name"
            [class.is-invalid]="regForm.get('firstName')?.invalid && regForm.get('firstName')?.touched"
          />
          <div class="invalid-feedback" *ngIf="regForm.get('firstName')?.hasError('required')">
            Name required
          </div>
        </div>
        <div class="form-group">
          <label for="name">Second Name</label>
          <input
            type="text"
            id="secondName"
            formControlName="secondName"
            class="form-control"
            placeholder="Name"
            [class.is-invalid]="regForm.get('secondName')?.invalid && regForm.get('secondName')?.touched"
          />
          <div class="invalid-feedback" *ngIf="regForm.get('secondName')?.hasError('required')">
            Name required
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            formControlName="email"
            class="form-control"
            placeholder="Email"
            [class.is-invalid]="regForm.get('email')?.invalid && regForm.get('email')?.touched"
          />
          <div class="invalid-feedback" *ngIf="regForm.get('email')?.hasError('required')">
            Email required
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            class="form-control"
            placeholder="Password"
            [class.is-invalid]="regForm.get('password')?.invalid && regForm.get('password')?.touched"
          />
          <div class="invalid-feedback" *ngIf="regForm.get('password')?.hasError('required')">
            Password is required
          </div>
          <div class="invalid-feedback" *ngIf="regForm.get('password')?.hasError('minlength')">
            Password must be at least 6 characters
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input 
               type="password"
               id="confirmPassword"
               formControlName="confirmPassword"
               class="form-control"
               placeholder="confirm your password"
               [class.is-invalid]="regForm.get('confirmPassword')?.invalid && regForm.get('confirmPassword')?.touched">
               <div class="invalid-feedback" *ngIf="regForm.get('confirmPassword')?.hasError('required')">
                Please confirm your password
               </div>
               <div class="invalid-feedback" *ngIf="regForm.hasError('mismatch') && regForm.get('confirmPassword')?.touched">
                Passwords do not match
               </div>

          </div>
        </div>
        <div *ngIf="errorMessage" class="alert alert-error">
          {{errorMessage}}
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="regForm.invalid">Register</button>
      </div>
    </form>
    <div class="auth-footer">
      <p>Already have an account?</p>
      <a routerLink="/login" class="auth-lin`k">Sign in</a>
    </div>
  </div>
</div>
