<div class="page-background">
  <div class="admin-form-container">
    <h2>Create New Admin</h2>

    <form
      [formGroup]="registerForm"
      (ngSubmit)="addNewAdmin()"
      class="admin-form"
    >
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" />

        <mat-error *ngIf="registerForm.get('firstName')?.hasError('required')">
          First name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Second Name</mat-label>
        <input matInput formControlName="secondName" />

        <mat-error *ngIf="registerForm.get('secondName')?.hasError('required')">
          Second name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />

        <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
          Email is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Role</mat-label>

        <mat-select formControlName="role">
          <mat-option value="ADMIN">ADMIN</mat-option>
          <mat-option value="SUPERADMIN">SUPERADMIN</mat-option>
        </mat-select>

        <mat-error *ngIf="registerForm.get('role')?.hasError('required')">
          Role is required
        </mat-error>
      </mat-form-field>

      <div class="form-actions">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="registerForm.invalid"
        >
          Create Admin
        </button>
      </div>
    </form>
  </div>
</div>
