<div class="mat-elevation-z8">
  <div class="table-header">
    <h3 class="table-title">Admin Lists</h3>
    <button class="add-admin-button" routerLink="/addAdmin">Add</button>
  </div>

  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let admin">{{ admin.id }}</td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>First Name</th>
      <td mat-cell *matCellDef="let admin">{{ admin.firstName }}</td>
    </ng-container>

    <ng-container matColumnDef="secondName">
      <th mat-header-cell *matHeaderCellDef>Last Name</th>
      <td mat-cell *matCellDef="let admin">{{ admin.secondName }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let admin">{{ admin.email }}</td>
    </ng-container>
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Role</th>
      <td mat-cell *matCellDef="let admin">
        <mat-select
          [value]="admin.role"
          (selectionChange)="changeRole(admin.id, $event.value)"
        >
          <mat-option value="USER">USER</mat-option>
          <mat-option value="ADMIN">ADMIN</mat-option>
          <mat-option value="SUPERADMIN">SUPERADMIN</mat-option>
        </mat-select>
      </td>
    </ng-container>

    <ng-container matColumnDef="locked">
      <th mat-header-cell *matHeaderCellDef>Locked</th>
      <td mat-cell *matCellDef="let admin">
        <mat-select
          [value]="admin.locked ? 'LOCKED' : 'ACTIVE'"
          (selectionChange)="changeStatus(admin.id, $event.value)"
        >
          <mat-option value="ACTIVE">ACTIVE</mat-option>
          <mat-option value="LOCKED">LOCKED</mat-option>
        </mat-select>
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>

      <td mat-cell *matCellDef="let admin">
        <button>
          <i class="fa-solid fa-trash-can" style="color: red"></i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
  </mat-paginator>
</div>
