<section class=" featured">
    <div class="  featured_header">
        <h2> Featured Products</h2>
        <p> Curated Essentials for your daily glow routine</p>
    </div>
    <div *ngIf="isLoading" class="loading">
        Loading Products
    </div>
    <div *ngFor="let category of featuredCategories" class="featured_category">
        <h3 class=" category-title">{{ category.category}}</h3>
        <div class="product-grid">
            <div class="product-card" *ngFor="let product of category.products | slice:0:2">
                <div class="product-image">
                    <img [src]="product.imageUrl" [alt]="product.name" />
                </div>
                <div class="product-info">
                    <h4>{{product.name}}</h4>
                    <p class="price"> KES {{product.price}}</p>
                    <button><i class="fa-duotone fa-regular fa-cart-circle-plus"></i> </button>
                </div>
            </div>
        </div>
    </div>
</section>
